body {
    background-image: url(./imagens/fundo.jpg);
}
h1 {
    text-align: center;
    margin-top: 5%
}
input {
    margin-left: 38%;
    width: 25%;
    height: 1.9rem;
    border-radius: 9rem;
}
button {
    margin-left: 48%;
    border-radius: 9rem;
    
}